#Homebanner{
    background:linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.7)), url(../../../../public/Image/1.jpg) no-repeat scroll;
    background-size: cover;
    /* background-position: ; */
    height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Homebanner h1{
    font-weight: bolder;
}