.navbar {
    background-color: #23272F;
}
.navbar .navbar-brand{
    color: white;
}
.navbar .nav-link{
    color: #E1E2E6;
    font-weight: bold;
    transition:all 0.4s;
    border-radius: 40px;
    padding: 7px 30px;
    margin-right: 30px;
}
.navbar .nav-link.active{
    color: #E1E2E6;
}
.navbar .nav-link:hover{
    background-color: #283542;
}


